
body 
{
    background-color: black;
}

.TransparentBackground
{
    background-color: transparent;
}

.TranslucentBackground
{
    background-color: rgba(0,0,0,0.3);
}

.OrangeBackground
{
    background-color: orange;
}